<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/">Estatística</a>
            <a class="navbar-brand" href="/">Dados Gerais</a>
            <a class="navbar-brand" href="/">Analise de Sentimento</a>
            <a class="navbar-brand" href="/">?</a>
        </nav>

        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>
        {% block conteudo %}{% endblock %}
    </div>
  </body>
</html>